<%= form_for(@property_category) do |f| %>
  <% if @property_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property_category.errors.count, "error") %> prohibited this property_category from being saved:</h2>

      <ul>
      <% @property_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Nombre' %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Enviar', class: 'btn btn-default' %>
  </div>
<% end %>
