<% @properties.each do |p| %>
<div class="col-lg-6 property">
  <div class="row">
    <div class="col-lg-6"><%= image_tag p.photos.url, class: 'img-responsive img-thumbnail' %></div>
    <div class="col-lg-6">
      <h4><strong><%= p.name %></strong> </h4>
      <div class="tipo">
      <small><%= p.property_type.name %> en <strong><%= p.property_category.name %></strong></small>
      </div>
      <p class="text-danger"><strong><%= number_to_currency(p.price) %> <%= '/ mes' if p.property_category.name == 'Alquiler'  %></strong></p>
      <div class="features">
        <small>Habitaciones: <span class="badge"><%= p.rooms %></span></small>
        <small>Baños: <span class="badge"><%= p.bathrooms %></span></small><br/>
        <small>Parqueos: <span class="badge"><%= p.parking %></span></small><br/>
      </div>
      <%= link_to 'Ver propiedad', public_properties_show_path(p), class: "btn btn-primary" %>
    </div>
  </div>
</div>
<% end %>